In [1]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]

(4, 5, 6)

In [6]:
nested_tup[1]

(7, 8)

In [7]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [8]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [9]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [11]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [12]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [13]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [14]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9
a=10, b=11, c=12

In [22]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [23]:
a, b, *_ = values

In [24]:
a

1

In [25]:
b

2

In [26]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [27]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [28]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [30]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [31]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [32]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [33]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [34]:
"dwarf" in b_list

True

In [35]:
"dwarf" not in b_list

False

In [36]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [37]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [38]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [39]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [40]:
seq = [7, 2, 4, 7, 5, 9, 0, 1]
seq[1:5]

[2, 4, 7, 5]

In [41]:
seq[3:5] = [6, 3]
seq

[7, 2, 4, 6, 3, 9, 0, 1]

In [42]:
seq[:5]

[7, 2, 4, 6, 3]

In [43]:
seq[3:]

[6, 3, 9, 0, 1]

In [44]:
seq = [7, 2, 4, 7, 5, 9, 0, 1]
seq[-6:-2:2]

[4, 5]

In [45]:
seq[::2]

[7, 4, 5, 0]

In [46]:
seq[::-1]

[1, 0, 9, 5, 7, 4, 2, 7]

In [47]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [52]:
d1[8] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 8: 'an integer'}

In [53]:
d1["b"]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 8: 'an integer'}

In [54]:
7 in d1

False

In [56]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 8: 'an integer', 5: 'some value'}

In [57]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 8: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [58]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 8: 'an integer',
 'dummy': 'another value'}

In [59]:
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 8: 'an integer'}

In [60]:
list(d1.keys())

['a', 'b', 8]

In [61]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [62]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (8, 'an integer')]

In [63]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 8: 'an integer', 'c': 12}

In [64]:
# zip - чтобы собрать пары, если кортеж вида((key, value),...) - то можно сразу dict вызывать
tuples = zip(range(5), reversed(range(5)))
tuples

In [65]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [66]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [67]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [68]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [69]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [71]:
hash("string")

2314441523211918204

In [73]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [74]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [75]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [76]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [77]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [78]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
a.intersection(b)
a & b

{3, 4, 5}

In [80]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [82]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [84]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [85]:
a_set.issuperset({1, 2, 3})

True

In [86]:
{1, 2, 3} == {3, 2, 1}

True

In [87]:
enumerate?

In [84]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [88]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [89]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [90]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [91]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [92]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [93]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [94]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [95]:
loc_mapping = {index: value for index, value in enumerate(strings)}
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [96]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [97]:
names_of_interest = []
for names in all_data:
#     print(names)
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [98]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [99]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [101]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [102]:
def my_function(x, y):
    return x + y

In [103]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [104]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [105]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [106]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [107]:
my_function2(3.14, 7, 3.5)

35.49

In [108]:
my_function2(10, 20)

45.0

In [109]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [111]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [112]:
a = None
def bind_a_variable():
    global a
    a = [0]
bind_a_variable()
print(a)

[0]

In [113]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [114]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [115]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [117]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [118]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [119]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [120]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [121]:
print(equiv_anon(4))

8

In [122]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [123]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [124]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [132]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [133]:
dict_iterator = iter(some_dict)
dict_iterator

In [134]:
tuple(dict_iterator)

('a', 'b', 'c')

In [141]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [143]:
gen = squares()
gen

In [144]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [145]:
gen = (x ** 2 for x in range(100))
gen

In [146]:
for x in gen:
    print(x, end=" ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [149]:
sum(x ** 2 for x in range(100))

328350

In [150]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [151]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert', 'Albert']
S ['Steven']

In [155]:
float("1.2345")

1.2345

In [152]:
float("something")

ValueError: could not convert string to float: 'something'

In [153]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [156]:
attempt_float("1.2345")

1.2345

In [157]:
attempt_float("something")

'something'

In [158]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [159]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [160]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [161]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [162]:
attempt_float((1, 2))

(1, 2)

In [163]:
path = "segismundo.txt"
f = open(path, encoding="utf-8")

In [164]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [165]:
f.close()

In [167]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [168]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [169]:
f1.tell()
f2.tell()

10

In [170]:
import sys
sys.getdefaultencoding()

'utf-8'

In [173]:
f1.seek(3)

3

In [174]:
f1.read(1)

'Г'

In [175]:
f1.tell()

4

In [176]:
f1.close()
f2.close()

In [177]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['SueГ±a el rico en su riqueza,\n',
 'que mГЎs cuidados le ofrece;\n',
 'sueГ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueГ±a el que a medrar empieza,\n',
 'sueГ±a el que afana y pretende,\n',
 'sueГ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiГіn,\n',
 'todos sueГ±an lo que son,\n',
 'aunque ninguno lo entiende.']

In [178]:
import os
os.remove("tmp.txt")

In [179]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [180]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [181]:
data.decode("utf-8")
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [182]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\u0413' in position 3: ordinal not in range(256)

In [183]:
os.remove(sink_path)

In [184]:
f = open(path, encoding='utf-8')
f.read(5)

'Sueña'

In [185]:
f.seek(4)
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [186]:
f.close()